body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #162A38;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #DD7700;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #dddddd;
    color: black;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    z-index: 2; /* Set a higher z-index for the content */
}


#Home {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4682B4;
    color: white;
}




